<main class="form w-100 m-auto py-5">
    <form [formGroup]="forgotpassword" (ngSubmit)="onSubmit()">
        <div class="img">
            <img class="mb-4" src="../../../assets/images/adaniportslogo.svg" alt="" width="194px" height="77px">
        </div>
        <h1>Roster Portal</h1>
        <br>
        <h6>Forgot Password?</h6>
        <p>We’ll send you reset password email.</p>

        <!-- Email -->

        <div class="">
            <label for="floatingInput">Email address</label>
            <input type="email" class="form-control mb-0" id="floatingInput" formControlName="emailAddress" placeholder="Enter your email">
            <span *ngIf="forgotpassword.controls['emailAddress'].touched && forgotpassword.controls['emailAddress'].errors?.['required']">Please enter email</span>
            <span *ngIf="forgotpassword.controls['emailAddress'].touched && forgotpassword.controls['emailAddress'].errors?.['email']">Please enter valid email</span>
        </div>

        <button class="btn btn-primary w-100 py-2 mt-5" type="submit">Reset Password<img
                src="../../../assets/images/ep_arrow-left-bold.svg"></button>

        <a class="bkl d-flex justify-content-end text-white mt-2" (click)="backClicked()"><img
                src="../../../assets/images/back.svg"> &nbsp; Back to log in</a>


        <p class="mt-5 text-white">By continuing, you’re confirming that you’ve read our Terms & Condition
            and Cookie Policy</p>

    </form>

</main>