<main class="form w-100 m-auto">
    <form [formGroup]="forgotpassword" (ngSubmit)="onSubmit()">
        <img class="mb-4" src="../../../assets/images/adaniportslogo.svg" alt="" width="194px" height="77px">
        <h1>Roster Portal</h1>
        <h6>Login to your account</h6>

        <!-- Email -->

        <div class="">
            <label for="floatingInput">Email address</label>
            <input type="email" class="form-control mb-0" id="floatingInput" formControlName="emailAddress">
            <span *ngIf="forgotpassword.controls['emailAddress'].errors?.['required']">Please enter email</span>
            <span *ngIf="forgotpassword.controls['emailAddress'].errors?.['email']">Please enter valid email</span>
        </div>
        <a class="d-flex justify-content-end text-white" (click)="backClicked()">Back to log in</a>

        <button class="btn btn-primary w-100 py-2 mt-5" type="submit">Reset Password</button>

    </form>
</main>