@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Poppins:wght@600&display=swap');

.form {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.08) 100%);
    box-shadow: 1px 1px 32px 1px rgba(0, 0, 0, 0.25);
}

.img {
    display: grid;
    place-items: center;
}

h1 {
    text-align: center;
    color: #FFF;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 600;
}

h6 {
    text-align: center;
    color: #FFF;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
}

p {
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.btn {
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
}

.text-white {
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;

    text-decoration: none;
}