<main class="form w-100 m-auto py-5">
    <form>
        <div class="img">
            <img class="mb-4" src="../../../assets/images/adaniportslogo.svg" alt="" width="194px" height="77px">
        </div>
        <h1>Roster Portal</h1>
        <br>
        <h6>Check your email</h6>


        <!-- Email -->

        <div class="p-5">
            <p>We sent a password reset link to user@adani.com</p>
        </div>
        <div class="d-flex justify-content-between">
            <a class="text-white" (click)="resendmail()">Resend Email</a>

            <a class="text" (click)="backClicked()" ><img src="../../../assets/images/back.svg">&nbsp;Back to log
                in</a>
        </div>

        <p class="mt-5 pt-5 text-white">By continuing, you’re confirming that you’ve read our Terms & Condition
            and Cookie Policy</p>
    </form>
</main>