<main class="form w-100 m-auto">
    <form>
        <img class="mb-4" src="../../../assets/images/adaniportslogo.svg" alt="" width="194px" height="77px">
        <h1>Roster Portal</h1>
        <h6>Check your email</h6>
      

        <!-- Email -->

        <div class="">
            <p>We sent a password reset link to user@adani.com</p>
        </div>
        <div class="d-flex justify-content-between">
            <a class="text-white" (click)="resendmail()">Resend Email</a>

            <a class="text-white" (click)="backClicked()">Back to log in</a>
        </div>

        <button class="btn btn-primary w-100 py-2 mt-5" type="submit">Reset Password</button>

    </form>
</main>