<main class="form w-100 m-auto py-5">
    <form [formGroup]="resetpasswordform" (ngSubmit)="onSubmit()">
        <div class="img">
            <img class="mb-4" src="../../../assets/images/adaniportslogo.svg" alt="" width="194px" height="77px">
        </div>
        <h1>Roster Portal</h1>
        <br>
        <h6>Login to your account</h6>

        <!-- password -->
        <div class="">
            <label for="floatingPassword">Password</label>
            <input type="password" class="form-control" id="floatingPassword" formControlName="loginpassword">
        </div>

        <!-- password -->
        <div class="">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" formControlName="confirmpassword">
        </div>


        <button class="btn btn-primary w-100 py-2" type="submit">Reset Password<img
                src="../../../assets/images/ep_arrow-left-bold.svg"></button>

        <a class="d-flex justify-content-end text mt-2"><img src="../../../assets/images/back.svg"> &nbsp; Back to
            log in</a>


        <p class="mt-5 text-white">By continuing, you’re confirming that you’ve read our Terms & Condition
            and Cookie Policy</p>
    </form>
</main>