<main class="form w-100 m-auto">
    <form [formGroup]="resetpasswordform" (ngSubmit)="onSubmit()">
        <img class="mb-4" src="../../../assets/images/adaniportslogo.svg" alt="" width="194px" height="77px">
        <h1>Roster Portal</h1>
        <h6>Login to your account</h6>

        <!-- password -->
        <div class="">
            <label for="floatingPassword">Password</label>
            <input type="password" class="form-control" id="floatingPassword" formControlName="loginpassword">
        </div>

        <!-- password -->
        <div class="">
            <label for="confirmPassword">Password</label>
            <input type="password" class="form-control" id="confirmPassword" formControlName="confirmpassword">
        </div>

        
        <button class="btn btn-primary w-100 py-2" type="submit">Reset Password</button>




        <p class="mt-5 mb-3 text-body-secondary">By continuing, you’re confirming that you’ve read our Terms & Condition
            and Cookie Policy</p>
    </form>
</main>