/* You can add global styles to this file, and also import other style files */
body {
    background: linear-gradient(100deg, rgba(11, 116, 176, 0.73) 0%, rgba(117, 71, 156, 0.73) 54.59%, rgba(189, 56, 97, 0.73) 100%), url(../src/assets/images/bgimage.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
}


main.form {
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        color: #FFF;
        font-size: 32px;
        font-weight: 600;
    }

    h6 {
        font-size: 22px;
        font-weight: 600;
    }

    form {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.40) 0%, rgba(255, 255, 255, 0.08) 100%);
        box-shadow: 1px 1px 32px 1px rgba(0, 0, 0, 0.25);
        width: 100%;
        max-width: 592px;
        padding: 55px;

        input {
            height: 42px;
            margin-bottom: 40px;
        }

        label {
            color: #FFF;
            font-size: 16px;
            font-weight: 600;
        }
    }
}